.page-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 18px;
  box-sizing: border-box;
  align-self: center;
  .card-wrapper {
    display: block;
    width: 50%;
    min-width: 387px;
    margin: 0 auto 2rem auto;
    form {
      max-width: 307px;
      margin: 0 auto;
    }
  }
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0.8em 0;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 36px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Custom */
.loginBtn--custom {
  background: #346766 linear-gradient(#346766, #285753);
  text-shadow: 0 -1px 0 #224a47;
}

.loginBtn--custom:before {
  border-right: #224A47 1px solid;
  background: url('../../images/icon.png') 1px 1px no-repeat;
  background-size: contain;
}

.loginBtn--custom:hover,
.loginBtn--custom:focus {
  background: #3f7d7c linear-gradient(#3e7d7c, #336d68);
}


/* Facebook */
.loginBtn--facebook {
  background: #4C69BA linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background: #5B7BD5 linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}

.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #f7503b;
}
