.page-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 18px;
  box-sizing: border-box;
  align-self: center;
  .card-wrapper {
    display: block;
    width: 50%;
    min-width: 387px;
    margin: 0 auto 2rem auto;
    form {
      max-width: 307px;
      margin: 0 auto;
    }
  }
}

