.private-picture-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: white 1px solid;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

  .private-picture {
    object-fit: cover;
  }

  .private-name {
    width: 2.5em;
    height: 2.5em;
    font-weight: bold;
    font-size: 1.3em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #999999;
  }
}
