input[type="date"]:before,
input[type="time"]:before,
input[type="select"]:before{
    color: #828282;
    content: attr(placeholder);
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid::before,
input[type="time"]:focus:before,
input[type="time"]:valid::after
{
    content: '' !important;
}

